<!DOCTYPE html>
<html lang="en">
<head>
<!-- Walk In Coma - Copyright 2012 Walk In Coma -->
<meta charset="utf-8">
<meta name="author" content="Tom Case, Nick Pack">
<meta name="description" content="Official website of Essex based alternative metal band Walk In Coma. Includes band blogs, upcoming shows, music, photo galleries and more.">
<meta name="keywords" content="walk in coma, walkincoma, walk, in, coma, southend, southend bands, essex, england, grunge, alternative, rock, metal, live">
<title>{% block title %}Walk In Coma{% endblock %}</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" media="screen" title="Walk In Coma" href="http://www.walkincoma.co.uk/css/style-main.css">
<!--[if lte IE9]><link rel="stylesheet" type="text/css" media="screen" href="http://www.walkincoma.co.uk/css/style-ie.css"><![endif]-->
</head>

<body>
  <div id="wrapper">
    <div id="navigation">
      <a href="/home/" title="Home">Home</a>
      <a href="/live/" title="Live">Live</a>
      <a href="/band/" title="Band">Band</a>
      <a href="/media/" title="Media">Media</a>
      <a href="/contact/" title="Contact">Contact</a>
    </div>
    <div id="header">&nbsp;</div>
    <div id="container">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>