<!DOCTYPE html>
<html lang="en">
<head>
<!-- Walk In Coma - Copyright 2012 Walk In Coma -->
<meta charset="utf-8">
<meta name="author" content="Tom Case, Nick Pack">
<meta name="description" content="Official website of Essex based alternative metal band Walk In Coma. Includes band blogs, upcoming shows, music, photo galleries and more.">
<meta name="keywords" content="walk in coma, walkincoma, walk, in, coma, southend, southend bands, essex, england, grunge, alternative, rock, metal, live">
<title>{% block title %}Walk In Coma{% endblock %}</title>
<!-- CSS -->
<link rel="stylesheet" type="text/css" media="screen" title="Walk In Coma" href="http://www.walkincoma.co.uk/css/style-main.css">
<!--[if lte IE9]><link rel="stylesheet" type="text/css" media="screen" href="http://www.walkincoma.co.uk/css/style-ie.css"><![endif]-->
</head>

<body>
  <div id="wrapper">
    <div id="navigation">
      <a href="/" title="Home">Home</a>
      <a href="/live/" title="Live">Live</a>
      <a href="/band/" title="Band">Band</a>
      <a href="/media/" title="Media">Media</a>
      <a href="/contact/" title="Contact">Contact</a>
    </div>
    <div id="header">&nbsp;</div>
    <div id="container">
      {% block content %}{% endblock %}
    </div>
  </div>
        <div id="social">
        <a href="http://www.facebook.com/pages/Walk-In-Coma/65996290389" title="Walk In Coma on Facebook" target="_blank"><img src="http://www.walkincoma.co.uk/images/facebook.png" alt="Walk In Coma on Facebook" width="115" height="23" class="facebook"></a>
        <a href="http://twitter.com/WalkInComa" title="Walk In Coma on Twitter" target="_blank"><img src="http://www.walkincoma.co.uk/images/twitter.png" alt="Walk In Coma on Twitter" width="104" height="20" class="twitter"></a>
        <a href="http://www.youtube.com/user/WalkInComaOfficial" title="Walk In Coma on YouTube" target="_blank"><img src="http://www.walkincoma.co.uk/images/youtube.png" alt="Walk In Coma on YouTube" width="95" height="51" class="youtube"></a>
      </div>

</body>
</html>