<!DOCTYPE html>
<html lang="en">
<head>
<!-- Walk In Coma - Copyright 2012 Walk In Coma -->
<meta charset="utf-8">
<meta name="author" content="Tom Case, Nick Pack">
<meta name="description" content="Official website of Essex based alternative metal band Walk In Coma. Includes band blogs, upcoming shows, music, photo galleries and more.">
<meta name="keywords" content="walk in coma, walkincoma, walk, in, coma, southend, southend bands, essex, england, grunge, alternative, rock, metal, live">
<title>{% block title %}Walk In Coma{% endblock %}</title>
</head>

<body>
  <div id="wrapper">
    <div id="header">&nbsp;</div>
    <div id="container">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>