{% extends "base.html" %}
{% block nav-home %}<li class="active"><a href="/" title="Home">Home</a></li>{% endblock %}
{% block content %}
        <h1 class="heading">April 6, 2012</h1>
        <p>We're currently redesigning our site. Please check back soon, or follow our social networks for the latest news and info.</p>
{% if articles %}
<ul>
{% for article in articles %}
    <li>{{ article.title }}</li>
{% endfor %}
</ul>
{% else %}
<p>No articles are available.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>
        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}