{% extends "base.html" %}
{% block content %}
        <h1 class="heading">April 6, 2012</h1>
        <p>We're currently redesigning our site. Please check back soon, or follow our social networks for the latest news and info.</p>
        <h1 class="heading">Live Dates</h1>
        <p>April 13th - Saks, Southend-on-Sea<br>April 14th - Burtons, Grays<br>June 14th - The Bull, Colchester</p>
{% if articles %}
<ul>
{% for article in articles %}
    <li>{{ article.title }}</li>
{% endfor %}
</ul>
{% else %}
<p>No articles are available.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>
        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
      <div id="social">
        <a href="http://www.facebook.com/pages/Walk-In-Coma/65996290389" title="Walk In Coma on Facebook" target="_blank"><img src="http://www.walkincoma.co.uk/images/facebook.png" alt="Walk In Coma on Facebook" width="115" height="23" class="facebook"></a>
        <a href="http://twitter.com/WalkInComa" title="Walk In Coma on Twitter" target="_blank"><img src="http://www.walkincoma.co.uk/images/twitter.png" alt="Walk In Coma on Twitter" width="104" height="20" class="twitter"></a>
        <a href="http://www.youtube.com/user/WalkInComaOfficial" title="Walk In Coma on YouTube" target="_blank"><img src="http://www.walkincoma.co.uk/images/youtube.png" alt="Walk In Coma on YouTube" width="95" height="51" class="youtube"></a>
      </div>
{% endblock %}