{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
<div class="row">
    <div class="span4">
        <div class="well sidebar-nav">
            <div class="sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">News</li>
                    <li class="divider"></li>
                    {% if articles %}
                        {% for article in articles %}
                            <li><a href="{{article.get_absolute_url}}"><i class="icon-calendar"></i>{{ article.title }} <span class="label label-warning pull-right">{{ article.article_date }}</span></a></li>
                            <li class="divider"></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span8">
        <div class="page-header">
            <h1>{{post.title}} <small>{{post.article_date}}</small></h1>
        </div>
        {{post.article_body|linebreaks}}
    </div>
</div>
{% endblock %}