Django==1.4
PIL==1.1.7
South==0.7.4
URLObject==2.0.1
apns==1.1.1
distribute==0.6.24
django-cumulus==1.0.5
-e git://github.com/jdriscoll/django-imagekit.git@3fe63daef3b14b1bedecc0b001e9d7d54aa60eed#egg=django-imagekit
djangorestframework==0.3.3
psycopg2==2.4.5
pyOpenSSL==0.13
wsgiref==0.1.2
