{% extends "base.html" %}
{% block nav-live %}<li class="active"><a href="/live/" title="Live">Live</a></li>{% endblock %}
{% block content %}
{% if gig_list %}
<div>
    {% for gig in gig_list %}
    <h1 class="gig-title">{{ gig.title }}</h1>
       <p>{{ gig.location }}<br>
       {{ gig.start_date }} - {{ gig.end_date }}</p>
       <p>{{ gig.event_info }}<br>
       Other Bands: {{ gig.other_bands }}</p>
    {% endfor %}
</ul>
{% else %}
<p>No gigs are available.</p>
{% endif %}
{% endblock %}