{% extends "base.html" %}
{% load thumbnail %}
{% block nav-live %}<li class="active"><a href="/live/" title="Live">Live</a></li>{% endblock %}
{% block title %}Upcoming Live Events{% endblock %}
{% block content %}
<div class="row">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Live</li>
                <li class="active"><a href="/live"><i class="icon-road"></i> Upcoming Gigs</a></li>
                <li><a href="/live/previous"><i class="icon-list-alt"></i> Previous Gigs</a></li>
            </ul>
        </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
        <div class="page-header">
            <h1>Live <small>Upcoming</small></h1>
        </div>
        {% if gig_list %}
        <ul class="thumbnails">
        {% for gig in gig_list %}
            <li class="span3">
                <div class="thumbnail">
                {% if gig.venue_pic %}
                    {% thumbnail gig.venue_pic "260x180" crop="45px" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
                    <div class="caption">
                        <h5>{{ gig.title }}</h5>
                        <p>{{ gig.start_date }} - {{ gig.end_date }}</p>
                        <!--p><a href="#" class="btn btn-warning">More Info</a></p-->
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No gigs are available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}