{% extends "base.html" %}
{% block content %}
<h1>Media</h1>
{% if photos %}
{% load flickrphoto %}
<ul>
    {% for photo in photos %}
    <li><img src="{{ photo|flickrurl }}" alt="{{ photo.title }}" /></li>
    {% endfor %}
</ul>
{% else %}
<p>No Photos are available.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
        </span>
        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}